* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

.signup-container {
  background-color: rgb(241, 241, 241);
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form-wrapper {
  background-color: white;
  width: 400px;
  min-height: 180px;
   padding: 40px 32px;

  border-radius: 10px;
  border: solid 1px;
  border-color: rgb(220, 220, 220);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 16px;
}

.signup-subtitle {
  font-size: 18px;
  color: rgb(104, 104, 104);
}

.signup-input-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.signup-input-section {
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
  margin-bottom: 8px;

  border: solid 1px;
  border-color: rgb(220, 220, 220);
  border-radius: 6px;
}

.signup-button {
  background-color: rgb(88, 88, 251);
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
}

.login-link {
  color: rgb(88, 88, 251);
  cursor: pointer;
  font-weight: 600;
  
}
.login-link:hover {
  color: rgb(60, 60, 220);
  text-decoration: underline;
}

.signup-error {
  color: red;
  font-weight: 500;
  font-size: 14px;
}